.header
  height: auto;
  padding: 10px 15px;
  background-color: #24292e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  a
    color: #fff;
  svg
    fill: currentColor;

.repositorio
  padding: 20px 0px;
.btn-exit
  background-color: transparent;
  font-size: 1.2em;
  border: none;
  color: #fff;
  cursor: pointer;

  &:hover 
    color: hsla(0,0%,100%,.75);

.user-info
  text-align: center;

.user-image
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;

  img
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

.list-repository
  text-align: left;
  padding: 0;
  margin: 0;

  .row-repository
    list-style: none;
    margin-bottom: 10px;

    .repository-info
      height: 100%;
      border-radius: 5px;
      border-top: 1px solid #d8dee2;
      border: 1px solid #d8dee2;
      border-radius: 0 0 3px 3px;
      padding: 10px 15px;
    
    h3
      font-size: 1em;
      margin-bottom: 10px;

    p
      font-size: .8em;